<head>
<title>BagelCember Diary!</title>
<style>
body {
background:#000;
color:#fff;
text-align:center;
}

h1 {
font-family:courier
}

h2 {
color:gray;
font-family:Times New Roman;
}

img {
max-width:90vw;
border: 2px white solid;
}
</style>
</head>

<h1>Version 0</h1>
<h1>(BagelCember Diary)</h1>
<h2><i>its not practice im just having fun</i></h2>
<a href="//v0.novassite.net"><img src="/media/scr v0.png"></a>
<p>my first work with HTML made on tumblrs html editor on december 1st 2021<br>eventually became a real diary with actual personal info<br><br>partially broke with the update where discord killed links after a week however its been restored</p>
