<head>
<title>Alices Website</title>
<style>
@font-face { font-family: SetoFont; src: url('/fonts/setofont.woff'); }

body {
background:#000;
color:#fff;
text-align:center;
font-family:SetoFont;
}

img {
max-width:90vw;
border: 2px white solid;
}
</style>
</head>

<body>
<h1><a href="/misc/oldsites">&lt;-- Back</a></h1>
<hr>
<div style="background:url('/media/oldbg.png')">
<h1>Version 2</h1>
<h1>(Alices Website)</h1>
<a href="//v2.novassite.net"><img src="/media/scr v2.png"></a>
<p>this one is also dated like 2021/2022<br>and here is where the sites scope broadened a bit with more pagination and two trucks<br><br>this one contains MORE people i no longer associate with so have fun</p>
</div>
</body>
