<head>
<title>Alices Website</title>
<style>
@font-face { font-family: SetoFont; src: url('/fonts/setofont.woff'); }

body {
background:#000;
color:#fff;
text-align:center;
font-family:SetoFont;
}

img {
max-width:90vw;
border: 2px white solid;
}
</style>
</head>

<body>
<h1><a href="/misc/oldsites">&lt;-- Back</a></h1>
<hr>
<div style="background:url('/media/oldbg.png')">
<h1>Version 3</h1>
<h1>(Alices Website)</h1>
<a href="//v3.novassite.net"><img src="/media/scr v3.png"></a>
<p>while it doesn't look the part this is definitely made later.<br>at this point i was OBSESSED with svg files so i made the little xenon folders into svgs.<br><br>still some people i dont like</p>
</div>
</body>
