# Auto detect text files and perform LF normalization
* text=auto
src/pages/commitID.txt.js export-ignore
.vscode export-ignore
.gitignore export-ignore
.gitattributes export-ignore
update.sh export-ignore
*.sh text eol=lf
*.png binary
*.jpg binary
*.gif binary
*.webp binary
*.ico binary
*.glb binary
*.ttf binary
*.ogg binary
*.mp3 binary
*.webm binary
*.mp4 binary
public/* filter=lfs diff=lfs merge=lfs -text
