:root {
    /* Text / General Colors */
    --bg: #2e2a34;
    --bg2: #403b47;
    --bg3: #534e5b;
    --filebg: url(transparency.png);
    --bgimg:;

    --text: #e4d8f4;

    --select: #8e7a99;
    --select-text: #ffffff;

    --code-bg: #1d1824;
    --code-text: #e4d8f4;
    --code-select: #6e5b77;
    --code-select-text: #ffffff;
    --code-border: #3d3346;

    --spoiler: rgb(26, 21, 32);
    --spoiler-revealed: rgba(26, 21, 32, 0.69);
    --spoiler-text: #e4d8f4;

    --tophr: #1d1824;

    /* Link Colors */
    --navicon: #8e7a99;
    --navicon-hover: #6e5b77;

    --link: #b294d4;
    --link-hover: #8c73a8;

    --button: #8e7a99;
    --button-hover: #6e5b77;
    --button-text: #ffffff;

    --daybutton-main: #6e5b77;
    --daybutton-hover: #564763;
    --daybutton-text: #1d1824;

    --daybutton-invalid: #1d1824;
    --daybutton-invalid-text: #e4d8f4;

    --daybutton-end: #564763;
    --daybutton-end-hover: #42344d;
    --daybutton-end-text: #1d1824;

    /* "Special" HTML Tag Colors */
    --progress-color: #a48fbf;
    --progress-bg: #424242;
    --loading-border: #999999;

    --table-bg: #1d1824;
    --table-bg2: #2f2940;
    --table-border: #3d3346;
    --table-text: #e4d8f4;

    --input-bg: #2a2631;
    --input-border: #322e3a;
    --input-text-color: #e4d8f4;
    --input-text-temp: #b7a5c5;
}
