@font-face { font-family: SetoFont; src: url('/misc/media/setofont.woff'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: var(--bg);
    color: var(--text);
    text-align:center;
    font-family: SetoFont;
    overflow-x: hidden;

}

.topbox {
    background-color: var(--bg3);
    width: 40%;
    min-height: 10vh;
    margin: auto;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.lefticon {
    height: 200px;
}

.headtext {
    font-size: 70px;
    margin-left: 20px;
}

.box {
    background-color: var(--bg2);
    width: 40%;
    margin: auto;
    border-radius: 1em;
    font-size:20px;
    margin-top:20px;
    padding:20px;
    text-align:left;
}

.box b {
    font-size:30px;
}

a {
    text-decoration:none;
}

a:link, a:visited{
    color: var(--link);
    transition: color 0.2s;
}

a:link:hover {
    color: var(--link-hover);
}

.trans {
    background: linear-gradient(
        90deg,
        hsl(196deg 94% 67%) 0%,
        hsl(210deg 54% 77%) 8%,
        hsl(307deg 21% 77%) 17%,
        hsl(349deg 79% 82%) 25%,
        hsl(350deg 84% 88%) 33%,
        hsl(351deg 89% 94%) 42%,
        hsl(0deg 0% 100%) 50%,
        hsl(351deg 89% 94%) 58%,
        hsl(350deg 84% 88%) 67%,
        hsl(349deg 79% 82%) 75%,
        hsl(307deg 21% 77%) 83%,
        hsl(210deg 54% 77%) 92%,
        hsl(196deg 94% 67%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::selection {
    color: var(--select-text);
    background: var(--select);
    -webkit-text-fill-color: var(--select-text);
}

i {
    color:var(--link);
    font-size:10;
}


.no:link, .no:visited, .no:hover{
    color: var(--text);
}

.links {
    text-align:center;
    width:80%;
    margin:auto;
}

.links .link {
    display:inline-block;
    width:50px;
    height:50px;
    font-size:30px;
    text-align:center;
    margin:5px;
}

.link a {
    color:var(--navicon);
    transition: color 0.3s;
}

.link a:hover {
    color:var(--navicon-hover);
}

.footer {
    text-align:center;
    margin-top:20px;
    font-family: "Roboto", sans-serif;
}

.footer div {
    padding:3px;
    color:var(--navicon);
}

.footer > div:nth-child(1) {
    font-size:16px;

}

.footer > div:nth-child(2) {
    font-size:13px;
}

.footer > div:nth-child(3) {
    font-size:10px;
}

.footer > div:nth-child(4) {
    font-size:15px;
}

.invisible {
    color:transparent;
}

.invisible:link, .invisible:visited, .invisible:hover{
    color:transparent;
}

.splash {
    
    color:yellow;
    right:33%;
    top:55;
    font-size:20px;
    position: absolute; /* Takes the element out of the normal flow */
    animation: pulserotate 2s infinite;
}

.banners {
    text-align:center;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.banners img {
    margin:5;
}

@keyframes pulserotate {
    0% {
        transform: scale(1) rotate(10deg);

    }
    50% {
        transform: scale(1.1) rotate(11deg);
    }
    100% {
        transform: scale(1) rotate(10deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1) ;

    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

button {
    border-radius: 5px;
    background-color: var(--button);
    border: 3px solid rgba(0,0,0,.0);
    color: var(--button-text);
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    cursor:pointer;
    transition: background-color 0.3s;
}

button:hover  {
    background-color: var(--button-hover);
    border: 3px solid rgba(0,0,0,.0);
}

button:active {
    background-color: var(--button-hover);
    border: 3px solid var(--button-hover);
}


@media screen and (max-width: 1280px){

    .topbox {
        width:90%
    }

    .headtext {
        font-size:40;
    }

    .box {
        width:90%
    }

    .splash {
        color:yellow;
        right:0;
        top:0;
        position: relative; /* Takes the element out of the normal flow */
        animation: none;
        animation: pulse 2s infinite;

    }

    .mobilebox {
        
        background-color: var(--bg3);
        width: 90%;
        margin: auto;
        border-radius: 1em;
        font-size:20px;
        margin-top:20px;
        padding:20px;
        text-align:center;

    }

    .links {
        width:99%;
    }


    .weather > div:nth-child(1) {
        padding-top:15px;
        font-size:10px;
    }
    .weather > div:nth-child(2) {
        padding-top:1px;
        font-size:15px;
    }
    .weather > div:nth-child(4) {
        font-size:17px;
    }
}

.supersecret {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    pointer-events:none;
    font-size:50;
    color:transparent;

}

.mysterydoor {
    width:36;
    height:52;
    background: url(/misc/media/mysterydoor.gif) 0px 0px;
    border: 0;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.mysterydoor:hover {
    background: url(/misc/media/mysterydoor.gif) -37px 0px;
}
/* beware the man who speaks in hands. */

.lastfm {
    background-color:var(--bg3);
    display:inline-block;
    padding:15px;
    border-radius:0.5em;
    overflow:hidden;
}


.lastfm b {
    color:var(--navicon);
    font-size:17;
}


.lastfm .listening b{
    color:var(--text);
}

.lastfm .listening{
    animation: pulse 2.5s infinite;
}


.lastfm .albumcover {
    width:300px;
    height:300px;
    margin:auto;
    overflow:hidden;
    filter: drop-shadow(5px 5px 5px #000);
    align-content: center;
}

.lastfm .albumcover img{
    border-radius:0.3em;
    max-height:300px;
    max-width:300px;
    width: auto;
    transition: filter 0.2s;

}

.lastfm .albumcover img:hover {
filter:brightness(80%);
}

hr {
    border: 2px solid var(--tophr);
    margin: -10px -10px 20px;
    margin-top:20px;
}

.weather {
    display:inline-block;
    float:left;
}

.weather > div:nth-child(1) {
    margin-top:-30px;
}

.weather > div:nth-child(2) {
    margin-top:-25px;
}

.weather > div:nth-child(3) {
    margin-top:-20px;
    margin-bottom:-25px;
}

.weatherparent {
    height:130px;
    overflow:hidden;
}

.weathericon {
    display:inline-block;
    float:right;

}

.weathericon img {
    width:125px;
    max-height:100%;
}

.pastsong {
  font-weight:bold;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:30%;
  display: inline-block;
  overflow:hidden;
}

.pastartist {
  font-style: italic;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:35%;
  display: inline-block;
  overflow:hidden;
}

.hits {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-bottom:10px;
    margin-top:15px;
}

.hitsnumber {
    border: 5px var(--daybutton-main) solid;
    background-color:var(--daybutton-hover);
    display:inline-block;
    color:transparent;
}

.hitsnumber div {
    display:inline-block;

    width:20;
    height:20;
    border: 0;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    transform: scale(2);
    margin:10px;
}

.number {
background:url(/misc/media/numbermc.gif);
}
/* 
turns out setting the url for every number is actually ass and theres a better way to do it
shut up sprites are hard
*/
.number1 {background-position: -20px -20px;}
.number2 {background-position: -40px -20px;}
.number3 {background-position: -60px -20px;}
.number4 {background-position: -80px -20px;}
.number5 {background-position: -100px -20px;}
.number6 {background-position: -120px -20px;}
.number7 {background-position: -140px -20px;}
.number8 {background-position: -160px -20px;}
.number9 {background-position: -180px -20px;}
.number0 {background-position: 0px -20px;}
.numbercomma {background-position: -200px -20px;}

.hue {
mix-blend-mode: color;
height:100vh;
width:100vw;
position: fixed;
left:0;
top:0;
pointer-events:none;
z-index:100;
}
