---
import '/src/styles/main.css';
import '/src/styles/evilcolor.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/media/evil/favicon.ico">
		<meta name="generator" content={Astro.generator} />

		<meta content="Novas EVIL Site" property="og:title" />
		<meta content="just a little look into my fucked up evil mind..." property="og:description" />
		<meta content="/media/embeds/evil.png" property="og:image" />
		<meta content="#ff0000" data-react-helmet="true" name="theme-color" />
		<title>EVIL Site</title>
	</head>
	<body>

<div class="topbox">
<img loading="eager" src="/media/evil/cock.png" class="lefticon" height="200"/><h1 class="headtext"> EVIL Site</h1>
</div>
<div class="mobilebox"><p class="splash">IM GOING TO FUCKING GET YOU</p></div>

<div class="box">
<b>HEY.</b><br>
CALL YOURSELF MY BITCH.
IM A FUCKING WOMAN<br>
IM A 276 MINUTE OLD PROFESSIONAL DEVELOPER
I FUCKING LOVE THE RULES
</div>

<div class="box">
<b>EVIL Projects</b><br>
I MADE ALL THIS SHIT ITS ALL MINE IM NO PLAGARIST ITS ALL MINE I MADE ALL THIS SHIT
<br><a href="https://discord.com/blog">EVIL BLOG</a>
<br><a href="https://modrinth.com/modpack/evil-console-idated">EVIL CONSOLE IDATED</a>
<br><a href="/media/evil/flutterfix.jpg">PREDICTABLE THING</a>
</div>

<div class="box">
<div class="weatherparent">
<div class="weather">
<div><h1><a href="//google.com/search?q=hell">Weather for HELL</a></h1></div>
<div><h2 id="wdes">VERY HOT</h2></div>
<div><h3 id="temps">4500000000&deg;F</h3></div>
</div>
<div class="weathericon">
<a><img id="wico" src="/media/evil/HOT.png"></a>
</div>
</div>
<i><a href="//google.com/search?q=evil+weather" target="blank">powered by evilweathermap</a></i>
</div>

<div style="text-align:center" class="box">
<b>What Music am I Listening to?</b><br><br>
<div class="lastfm">
<div class="albumcover">
<img id="cover" src="/media/evil/evilseatheadrest.webp">
</div>
<h2 class="musicinfo" >
<span id="trackname" style="font-size:30px">Drunk to Life</span>
<br>
<span id="albumname" style="font-size:25px">Solo Reality</span>
<br>
<span id="artistname" style="font-size:20px">Evil Seat Headrest</span>
</h2>
<div class="listening">EVILLY LISTENING</div>
</div>
<div style="margin-top:5px;margin-bottom:-10px;"><i><a id="poweredby" href="https://www.last.fm" target="blank">powered by last.fm</a></i></div>
</div>

<div class="box">
<b>What WAS i listening to?</b><br>
<span id="previoustracks">
<i>[1d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/carrouvil.webp"> <span class='pastsong'>flair for the generic</span> - <span  class='pastartist'>Violet Horse</span><br>
<i>[2d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/lovesick.webp"> <span class='pastsong'>romantic vegan</span> - <span  class='pastartist'>GirlCrack</span><br>
<i>[3d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/bart.webp"> <span class='pastsong'>boy, so understanding</span> - <span  class='pastartist'>Charlie Charlie</span><br>
<i>[4d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/evilgenhoop.webp"> <span class='pastsong'>eh not right now.</span> - <span  class='pastartist'>videogenfew</span><br>
<i>[5d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/evilszn.webp"> <span class='pastsong'>hes so mean</span> - <span  class='pastartist'>PURPLE GUY</span><br>
<i>[6d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/feedhome.webp"> <span class='pastsong'>9 then</span> - <span  class='pastartist'>starvation apartment</span><br>
<i>[7d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/evilpatrol.webp"> <span class='pastsong'>lame abandonment</span> - <span  class='pastartist'>alone virgin man</span><br>
<i>[8d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/gecks.webp"> <span class='pastsong'>youyou</span> - <span  class='pastartist'>2 geck</span><br>
<i>[9d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/creekflow.webp"> <span class='pastsong'>I'm Creekflow</span> - <span  class='pastartist'>Vylet Pony</span><br>
<i>[9d]</i> <img style="border-radius:2px;width:16px;height:16px;" src="/media/evil/tvgorl.webp"> <span class='pastsong'>photo about you</span> - <span  class='pastartist'>radio boy</span><br>
</span>
<div style="margin-top:10px;"><!-- I NEED ANOTHER MOTHERFUCKING DIV I JUST WANT IT TO BE A FEW PIXELS LOWER WHAT TH E FUCK -->
<i id="goals" style="display:block">listened to -1 song</i></div>
</div>
<div class="box" style="text-align:center">
<img src="/media/evil/disaproval.webp">
</div>


<div style="text-align:center" class="box">
<div  style="margin-bottom:5px;"><b>EVIL Badges >:3</b></div><br> <!-- WHY DO I HAVE TO CREATE A DIV FOR EVERYTHING GOD DAMNIT -->
<div class="banners">
<a href="#" id="evilbadge">
<img loading="lazy" src="/media/evil/evil1.gif" />
<img loading="lazy" src="/media/evil/evil2.gif" />
<img loading="lazy" src="/media/evil/evil3.gif" />
<img loading="lazy" src="/media/evil/evil4.gif" />
<img loading="lazy" src="/media/evil/evil5.gif" />
</a>

</div>
</div>

<div class="footer">
<div>
<span>EVIL site 1992</span><br>
<a href="mailto:evil@novassite.net">evil@novassite.net</a><br>
made with <span style="color:red">>:(</span><br>
NEVER COMPILED<br>
</div>
</div>

</Layout>
<script>
document.getElementById("evilbadge").addEventListener("click", function(event) {
event.preventDefault();
const randomevil = Math.round(Math.random() * 5);

const audioElement = document.createElement('audio');
audioElement.src = `/media/evil/evil${randomevil}.ogg`;
document.body.appendChild(audioElement);
audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

});
</script>
