---
import "xp.css/dist/XP.css";
import '/src/styles/evil.css';
---
<head>
<title>NovasDesktop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<meta name="generator" content={Astro.generator} />
<meta content="Novas Site" property="og:title" />
<meta content="Novas Desktop, free for all to see!" property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<meta charset="UTF-8" />
</head>


<div class="center-screen"  >
<div style="display:inline-block;z-index:5;padding:0px;margin:0px" id="window">
  <div class="title-bar">
    <div class="title-bar-text"><img src="/media/novaexeico.png" height="16px" style="vertical-align: text-top;"> <span id="splash">Nova.exe</span></div>
    <div class="title-bar-controls">
      <button style="cursor:pointer" aria-label="Minimize"></button>
      <button style="cursor:pointer" aria-label="Maximize"></button>
      <button style="cursor:pointer" aria-label="Close"></button>
    </div>
  </div>
  <div style="padding:0px;margin:0px">
<img src="/media/novaexe.png" style="padding:0px;margin:0px;border-left:1px solid #0831d9;border-top:none;border-right:1px solid #001ea0;border-bottom:2px solid #001ea0;background:#000">
</div>
</div>
</div>

<div class="icons" style="padding-left:10px;">

<div class="icon" id="hopeless">
<img src="/media/icons/text.gif" alt="hopeless.txt" /><br>
<span>hopeless.txt</span>
</div>


<div class="icon" id="what">
<img src="/media/icons/what.png" alt="what?" /><br>
<span>what?</span>
</div>
</div>

<div class="taskbar">
<div style="float:left"><a id="start" style="cursor:pointer;"><img src="/media/evilstart.png"></a></div> <!-- no href because it adds select box -->

<div class="time" id="time">2:56 AM</div>
<div class="time" title="dont bother."><img src="/media/weather/16/03d.png" style="vertical-align: -2px;"> <span>66?</span></div>

</div>
<script>

const audioUrl = "/media/sfx/error.mp3";

async function createaudio() {

    const audioElement = document.createElement('audio');
    audioElement.src = audioUrl;
    audioElement.volume = 0.2;
    audioElement.id = "shartmenu";


    document.body.appendChild(audioElement);


    audioElement.play();

audioElement.addEventListener('ended', (event) => {
audioElement.remove();
});

};

document.getElementById("start").addEventListener("click", function(event) {
event.preventDefault();
if(!document.getElementById("shartmenu")) {
createaudio(); //ive removed the ability to spam im sorgy.
}
});

</script>

<script>
document.getElementById("what").addEventListener("click", function(event) {
event.preventDefault();
window.open("/secret/oldevil", '_top');// i have to advertize i asked people for icons and they delivered im sorry
})
</script>

<script>
document.getElementById("hopeless").addEventListener("click", function(event) {
event.preventDefault();
window.open("/media/secrets/hopeless.txt", '_top');// i have to advertize i asked people for icons and they delivered im sorry
})
</script>
