---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---
<head>
<title>SECRET!!</title>
<meta name="viewport" content="width=device-width" />

</head>
<div class="center-screen">
clever girl ;3<br>
but not clever enough sadly...<br>
you need to look somewhere else...
</div>
