---
// ill kill you all eventually
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

// except you, you can stay.
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
<meta charset="utf-8" />

<head>
<title>Novas Blog</title>
<link rel="stylesheet" href="/styles/blog.css">
<link id="darkmode" rel="stylesheet" href="/styles/dark.css">
<meta name="viewport" content="width=device-width" />

</head>

<body>
<div class="topbox">
<h1><a href="/">Novas Blog</a></h1>
<h3><a href="/blog/rss.xml">RSS Feed</h3></p>
</div>
<hr>
<section>

{
posts.map((post) => (
<div class="box">
<a href={`/blog/${post.id}/`}>
<h2 class="title">{post.data.title}</h2>
</a>
<FormattedDate date={post.data.pubDate} />
</div>

))
}
</section>
</body>
</html>
