---
// ill kill you all eventually
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

// except you, you can stay.
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

import '/src/styles/blog.css';
import '/src/styles/colors.css';

---

<!doctype html>
<html lang="en">
<meta charset="utf-8" />

<head>
<title>All BlogPosts</title>
<meta name="viewport" content="width=device-width" />


<meta content="Previous BlogPosts" property="og:title" />
<meta content="all previous blog posts." property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://novassite.net/blog/rss.xml">

</head>

<body>
<div class="topbox">
<h1><a href="/">Previous Blog Posts</a></h1>
<h3><a href="/blog/rss.xml">RSS Feed</h3></p>
</div>


{
posts
.filter(posts => !posts.hidden)
.map((post) => (
<div class="box">
<a href={`/blog/${post.id}/`}>
<h2 class="title">{post.data.title}</h2>
</a>
<FormattedDate date={post.data.pubDate} />
</div>

))
}
</body>
</html>
