:root {
  --bg: #dedbe6;
  --bg0: #d6d2e0;
  --bg1: #cbc5d8;
  --bg2: #c0b9d0;
  --bg3: #b7afcb;
  --bg4: #aca2c3;

  --fg: #15121a;
  --fg0: #1c1922;
  --fg1: #2c2734;
  --fg2: #383341;
  --fg3: #4a4452;
  --fg4: #534d5b;

  --aqua: #2a8c8c;
  --blue: #2e2e99;
  --gray: #605c66;
  --green: #408040;
  --orange: #e67017;
  --purple: #b36b9c;
  --red: #b33636;
  --yellow: #b09728;

  --bright-aqua: #0a6666;
  --bright-blue: #292966;
  --bright-gray: #48454d;
  --bright-green: #376e37;
  --bright-orange: #bd5c13;
  --bright-purple: #80466e;
  --bright-red: #992e2e;
  --bright-yellow: #78671c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #15121a;
    --bg0: #1c1922;
    --bg1: #2c2734;
    --bg2: #383341;
    --bg3: #4a4452;
    --bg4: #534d5b;

    --fg: #dedbe6;
    --fg0: #d6d2e0;
    --fg1: #cbc5d8;
    --fg2: #c0b9d0;
    --fg3: #b7afcb;
    --fg4: #aca2c3;

    --aqua: #5b9b9b;
    --blue: #5964ab;
    --gray: #7f7391;
    --green: #5a9b5a;
    --orange: #d88a3c;
    --purple: #9b5a88;
    --red: #cc4444;
    --yellow: #d9a136;

    --bright-aqua: #5fcfcf;
    --bright-blue: #606cbf;
    --bright-gray: #9c8ea2;
    --bright-green: #8bc34a;
    --bright-orange: #f39042;
    --bright-purple: #c26aa7;
    --bright-red: #ff5a5a;
    --bright-yellow: #f6c657;
  }
}