body {
background:url("/media/wallpaper.jpg");
overflow:hidden;
background-repeat: no-repeat;
background-size: cover;
height:100vh;
width:100vw;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.warningscreen {
display:block;
position:absolute;
left:0px;
top:0px;
width:110vw;
height:110vh;
padding:10px;
font-size:2vw;
text-align:center;
background:#000;
color:#fff;
}
