:root {
--bg:#f9f5d7;
--bg0:#fbf1c7;
--bg1:#ebdbb2;
--bg2:#d5c4a1;
--bg3:#bdae93;
--bg4:#a89984;

--fg:#3c3836;
--fg0:#282828;
--fg1:#3c3836;
--fg2:#504945;
--fg3:#665c54;
--fg4:#7c6f64;

--aqua:#689d6a;
--blue:#458588;
--gray:#928374;
--green:#98971a;
--orange:#d65d0e;
--purple:#b16286;
--red:#cc241d;
--yellow:#d79921;

--bright-aqua:#437b58;
--bright-blue:#076678;
--bright-gray:#7c6f64;
--bright-green:#79740e;
--bright-orange:#af3a03;
--bright-purple:#8f3f71;
--bright-red:#9d0006;
--bright-yellow:#b57614;
}

@media (prefers-color-scheme: dark) {
:root{
--bg:#1d2021;
--bg0:#282828;
--bg1:#3c3836;
--bg2:#504945;
--bg3:#665c54;
--bg4:#7c6f64;

--fg:#ebdbb2;
--fg0:#fbf1c7;
--fg1:#ebdbb2;
--fg2:#d5c4a1;
--fg3:#bdae93;
--fg4:#a89984;

--aqua:#689d6a;
--blue:#458588;
--gray:#928374;
--green:#98971a;
--orange:#d65d0e;
--purple:#b16286;
--red:#cc241d;
--yellow:#d79921;

--bright-aqua:#8ec07c;
--bright-blue:#83a598;
--bright-gray:#a89984;
--bright-green:#b8bb26;
--bright-orange:#fe8019;
--bright-purple:#d3869b;
--bright-red:#fb4934;
--bright-yellow:#fabd2f;
}

}
/*https://github.com/morhetz/gruvbox*/
