@font-face { font-family: SetoFont; src: url('/fonts/setofont.woff'); }

body {
background-color:var(--bg);
color:var(--fg);
font-family:SetoFont;
}

.top {
width:90vw;
background:var(--bg1);
padding:10px;
display:block;
margin:auto;
height:150px;
overflow:hidden;
}



.top #pfp {
height:95%;
float:left;
margin-right:15px;
background-color:var(--bg4);
border-radius:15px;
}

.top #username {
font-size:40px;
margin-bottom:10px;
display:inline-block;
font-weight: bold;
}


.sprite {
width:16px;
height:16px;
background:url("/media/sprites.gif");
-ms-interpolation-mode: nearest-neighbor;
image-rendering: crisp-edges;
image-rendering: pixelated;
}

.online {background-position: 0px 0px;}
.dnd {background-position: -16px 0px;}
.offline {background-position: -32px 0px;}
.idle {background-position: -48px 0px;}
.friend {background-position: -64px 0px;}

#addfriend {
color:var(--bright-green);
text-decoration:none;
}
#addfriend:hover {
color:var(--green);
}
