---
import { Image } from 'astro:assets';
import logo from '../assets/404.png';
import qrcode from '../assets/404.svg';

---
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
@font-face { font-family: segoeui; src: url('/fonts/segoeui.ttf'); }
body {
font-family: segoeui;
background-color:#0078d7;
color:white;
}

.qrcode {
    display:flex;
    align-items:center;

}
.qrcode p {
    width:85%;
    justify-content:right;
    }

.qrcode img {
padding-right:10px;
    }

a{
    text-decoration: none;

}

a:link, a:visited{
    color: white;

}
</style>
</head>
<Image src={logo} alt="404" width="250"/>

<p style="font-size:30;">You ran into a problem and you need to <a style="cursor:pointer" onclick="history.back()">go back</a>. this page <span id="webpath"></span> doesnt exist.</p>
<!--<p style="font-size:28;">100% deleted</p>-->
<br>
<div class="qrcode">
<img width="150" style="padding-right:10" src={qrcode.src} >
 For more information about this issue and possible fixes, visit&nbsp<a href="/qr">/404</a>
</div>

<script>
    let path = window.location.pathname;
    document.getElementById("webpath").innerHTML=`&quot;${path}&quot;`;
</script>
