<head>
<title>SPLODE.</title>
<style is:global>
</style>
</head>
<button id="explodebutton">EXPLODE</button>
<script>
function createimage() {
const url = "https://cdn.novassite.net/splode.webm";
const imageElement = document.createElement('video');
imageElement.src = url;     

document.body.innerHTML = '';
document.body.appendChild(imageElement);
imageElement.play();

imageElement.addEventListener('ended', (event) => {
document.body.innerHTML = '<h1>you have exploded.</h1>';
document.body.style.backgroundColor="#000";
document.body.style.color="#ff0000";
document.body.style.textAlign="center";

});
}

document.getElementById("explodebutton").addEventListener("click", function(event) {
    event.preventDefault();
    createimage();
});
</script>
