---
import Layout from '/src/layouts/Layout.astro';
---
<Layout>
<p>right before you get the chance to knock a deer opens the door to you.
<span style="color:purple">hey there what can i do for you?</span>
youre awfully nice to some random person youve litterally never seen before
<span style="color:purple">i watched you walk up here.</span>
<span style="color:purple">plus your way too frail to do anything that terrible to me.</span>
fair.

what do you chose to do?<blink>_</blink><br><br>
<a href="/novahouse">enter the strange deers house</a><br>
<a href="/run">run away</a>
</Layout>
