<head>
<title>NovasDesktop</title>
<style is:global>
body {
overflow:hidden;
background:#000;
}


iframe {
width:100vw;
height:100vh;
position:absolute;
left:0;
top:0;
border:none;

}
</style>
</head>

<script>
const width = window.outerWidth;
let hash = window.location.hash;
let hashValue = hash.substring(1);

document.addEventListener("DOMContentLoaded", async function() {
const desktop = document.createElement('iframe');
desktop.src="/desktop/";

window.scrollTo(0,0);

if (hashValue == "fromtree") {
window.location.replace("/desktop/");
return;
}

if (width<1500) {
window.location.replace("/tree/#warn");
return;
} else {
document.body.appendChild(desktop);

desktop.onload = function() {
document.title=desktop.contentWindow.document.title;
};

}
});
</script>
