---
import Layout from '/src/layouts/Layout.astro';
---
<style>
@-moz-document url-prefix() {

.hasfirefox {
display:none;
}

}

</style>
<Layout>
<p>this website is best experienced on a 1080p monitor in the firefox browser with autoplay enabled.
if you dont have those then fuck you lmao
<span class="hasfirefox"><a href="https://getfirefox.com">please download firefox.</a><br><br></span>

<a href="/main">continue on the adventure</a></p>
</Layout>
