<head>
<title>NovasDesktop</title>
<style is:global>
body {
overflow:hidden;
background:#000;
color:#fff;
}


iframe {
width:100vw;
height:100vh;
position:absolute;
left:0;
top:0;
border:none;

}
</style>

<link rel="icon" href="/favicon.ico">
<meta name="generator" content={Astro.generator} />
<meta content="Novas Site" property="og:title" />
<meta content="Novas Desktop, free for all to see!" property="og:description" />
<meta content="/media/embeds/main.png" property="og:image" />
<meta content="#6b0059" data-react-helmet="true" name="theme-color" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://novassite.net/blog/rss.xml">
</head>

<body>
why arent you using javascript what'd you hope to achive here?
</body>

<script>
const width = window.outerWidth;
let hash = window.location.hash;
let hashValue = hash.substring(1);

document.addEventListener("DOMContentLoaded", async function() {
document.body.innerHTML = "";
const desktop = document.createElement('iframe');
desktop.src="/desktop/";
desktop.scrolling="no";

window.scrollTo(0,0);



if (width<1500) {
if (hashValue !== "fromtree") {
return window.location.replace("/tree/#warn");
}
}

document.body.appendChild(desktop);

//desktop.onload = function() {
//document.title=desktop.contentWindow.document.title;
//};


});
</script>
