---
import Layout from '/src/layouts/Layout.astro';
---
<Layout>
<p>you find yourself in a forest the leaves shielding you from the pouring rain from above.
you seem to feel lost and scared not understanding why this had to happen to you of all people...
just another day of this-
... wait..?
is that a town?
it seems so small...
whatever itl make due.

what do you chose to do?<blink>_</blink><br><br>

<a href="/house">knock on the door of the nearest house</a><br>
<a href="/run">run away from the people</a>
</p>
</Layout>
