---
import '/src/styles/userpage.css';
import '/src/styles/colors.css';
---

<div class="top">
<img id="pfp" src="/media/pfp.png">

<span id="username">Nova</span><br>
<span id="status">I love women</span><br><br>

<div><img id="onlineimg" src="/blank.gif" class="sprite offline">
<span id="online">Offline</span>

<img src="/blank.gif" class="sprite friend">
<a id="addfriend" href="/media/secrets/g dance.mp4">Add Friend<a>
</div>

</div>

<script src="/src/scripts/discordprofile.js"></script>
