<head>
<title>qr code</title>
<style is:global>

body {
background:#000;
color:#fff;
padding:0;
margin:0;
text-align:center;
overflow:hidden;
}

#test{
height:100vh;
}

img {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}

video {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}

</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
</head>

<body>
<div id="test">
imagine scanning a qr code LOSER!
</div>
</body>

<script>
document.addEventListener("DOMContentLoaded", function() {

    async function geturl() {
        try {
            const response = await fetch('/.netlify/functions/qr');

            if (!response.ok) {
                throw new Error('Network response was not okay');
            }

            const data = await response.json(); // Parse the JSON response

            const content = data.content;
            const attachment = data.attachment;
            const type = data.content_type || "null";

            let url; // Declare url once
            if (content) {
                url = content;
            } else {
                url = attachment;
            }

            if (type.startsWith('video')) {
                document.getElementById("test").innerHTML = `<video controls autoplay src="${url}"></video>`;
            } else if (type.startsWith('image')) {
                document.getElementById("test").innerHTML = `<img src="${url}" />`;
            } else if (!url) {
                window.location.replace("https://youtu.be/dQw4w9WgXcQ?si=JCrc2Zj42erzHwNK");
            } else {
                document.getElementById("test").innerHTML = `Can't display content in the browser`;
                window.location.replace(url);
            }
        } catch (error) {
            console.error('Error fetching or processing JSON:', error);
            window.location.replace("https://youtu.be/dQw4w9WgXcQ?si=JCrc2Zj42erzHwNK"); // Optional: redirect to fallback URL
        }
    }

    geturl(); // Call the function

});
</script>


