<!--
this is a fun page for little peepers :D
which is you!
(also yes im aware this is removed upon compile.)
-->
<head>
<title>&#9731;</title>

<link rel="icon" href="null"> <!-- technically links to a file but i dont care lol -->

<style>
.center {
display:flex;
width:100vw;
height:100vh;
align-items:center;
text-align:center;
justify-content:center;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<meta content="Ping" property="og:title" />
<meta content="Pong!" property="og:description" />
<meta content="#ede4cc" data-react-helmet="true" name="theme-color" />
<meta charset="UTF-8" />
</head>

<div class="center">

<h1 style="font-size:70vh">&#9731;</h1>

</div>
