<div id="activitylist"></div>

<script>
  const activitylist = document.getElementById("activitylist");

  const testElement = document.createElement('span');
  testElement.innerHTML = "aaa";
  activitylist.appendChild(testElement);
</script>
