:root {
--bg: #0d0d0d;
--bg0: #131313;
--bg1: #1a1a1a;
--bg2: #222;
--bg3: #2b2b2b;
--bg4: #333;

--fg: #f6f1e3;
--fg0: #e0d7c6;
--fg1: #cbbba9;
--fg2: #b5a08c;
--fg3: #a08a72;
--fg4: #8b755c;

--aqua: #5e9595;
--blue: #4b5ca3;
--gray: #867b97;
--green: #4e8f4e;
--orange: #ff7518;
--purple: #8e44ad;
--red: #c0392b;
--yellow: #ffb347;

--bright-aqua: #76d6d6;
--bright-blue: #6a6aff;
--bright-gray: #bfb6d0;
--bright-green: #76dd76;
--bright-orange: #ffa94d;
--bright-purple: #d17bff;
--bright-red: #ff4c4c;
--bright-yellow: #ffe066;
}
