<div class="footer">
<div style="width:50vw;margin:auto;text-align:left">
<span id="copyright">Novas Site &copy;2021</span><br>
<a href="mailto:mail@novassite.net">mail@novassite.net</a><br>
made with <span style="color:red">&lt;3</span><br>
remind me to make this better

</div>
</div>

<script>
document.getElementById("copyright").innerHTML = `Novas Site `+"&copy;"+new Date().getFullYear();
</script>
