---
var now = new Date();
var dd = String(now.getDate()).padStart(2, '0');
var mm = String(now.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = now.getFullYear();

let hours = now.getHours();
var minutes = String((now.getMinutes()) % 60).padStart(2, '0');
let seconds = now.getSeconds();

const currentTimeZone = '(' + new Date().toString().match(/\(([A-Za-z\s].*)\)/)[1] + ')';

console.log(currentTimeZone);

const year = new Date().getFullYear();
const copyright = `Novas Site ©${year}`;
const currentdate = mm + '/' + dd + '/' + yyyy + ' ' + hours + ':' + minutes + ' '+ currentTimeZone;
---
<div class="footer">
<div>
<span>{copyright}</span><br>
<a href="mailto:mail@novassite.net">mail@novassite.net</a><br>
made with <span style="color:red">&lt;3</span><br>
the site was built on {currentdate}<br>
</div>
</div>
