:root {
--bg-dark:#282828;
--bg0-dark:#282828;
--bg1-dark:#3c3836;
--bg2-dark:#504945;
--bg3-dark:#665c54;
--bg4-dark:#7c6f64;

--fg-dark:#ebdbb2;
--fg0-dark:#fbf1c7;
--fg1-dark:#ebdbb2;
--fg2-dark:#d5c4a1;
--fg3-dark:#bdae93;
--fg4-dark:#a89984;

--aqua-dark:#689d6a;
--blue-dark:#458588;
--gray-dark:#928374;
--green-dark:#98971a;
--orange-dark:#d65d0e;
--purple-dark:#b16286;
--red-dark:#cc241d;
--yellow-dark:#d79921;

--bright-aqua-dark:#8ec07c;
--bright-blue-dark:#83a598;
--bright-gray-dark:#a89984;
--bright-green-dark:#b8bb26;
--bright-orange-dark:#fe8019;
--bright-purple-dark:#d3869b;
--bright-red-dark:#fb4934;
--bright-yellow-dark:#fabd2f;


--bg-light:#fbf1c7;
--bg0-light:#fbf1c7;
--bg1-light:#ebdbb2;
--bg2-light:#d5c4a1;
--bg3-light:#bdae93;
--bg4-light:#a89984;

--fg-light:#3c3836;
--fg0-light:#282828;
--fg1-light:#3c3836;
--fg2-light:#504945;
--fg3-light:#665c54;
--fg4-light:#7c6f64;

--aqua-light:#689d6a;
--blue-light:#458588;
--gray-light:#928374;
--green-light:#98971a;
--orange-light:#d65d0e;
--purple-light:#b16286;
--red-light:#cc241d;
--yellow-light:#d79921;

--bright-aqua-light:#427b58;
--bright-blue-light:#076678;
--bright-gray-light:#7c6f64;
--bright-green-light:#79740e;
--bright-orange-light:#af3a03;
--bright-purple-light:#8f3f71;
--bright-red-light:#9d0006;
--bright-yellow-light:#b57614;
}

/* colors from https://github.com/morhetz/gruvbox */

