<head>
<style>
body {
  background-image: linear-gradient(
    0deg,
    hsl(25deg 100% 93%) 5%,
    hsl(25deg 100% 93%) 31%,
    hsl(25deg 100% 94%) 40%,
    hsl(25deg 100% 94%) 47%,
    hsl(25deg 100% 95%) 53%,
    hsl(25deg 100% 95%) 57%,
    hsl(25deg 100% 96%) 61%,
    hsl(25deg 100% 96%) 65%,
    hsl(25deg 100% 97%) 68%,
    hsl(25deg 100% 97%) 72%,
    hsl(25deg 100% 98%) 75%,
    hsl(25deg 100% 98%) 79%,
    hsl(25deg 100% 99%) 83%,
    hsl(25deg 100% 99%) 89%,
    hsl(0deg 0% 100%) 100%
  );
height:100vh;
overflow:hidden;
}
.cirq {
background-image: linear-gradient(
  0deg,
  hsl(27deg 100% 77%) 0%,
  hsl(27deg 100% 78%) 16%,
  hsl(27deg 100% 79%) 24%,
  hsl(27deg 100% 79%) 30%,
  hsl(27deg 100% 80%) 35%,
  hsl(27deg 100% 81%) 40%,
  hsl(27deg 100% 82%) 45%,
  hsl(26deg 100% 82%) 50%,
  hsl(26deg 100% 83%) 55%,
  hsl(26deg 100% 84%) 60%,
  hsl(26deg 100% 85%) 65%,
  hsl(26deg 100% 86%) 70%,
  hsl(26deg 100% 86%) 76%,
  hsl(25deg 100% 87%) 84%,
  hsl(25deg 100% 88%) 100%
);
width:100vw;
height:50vh;
position:absolute;
left:0;
bottom:0;
border-radius:50% 50% 0 0;
z-index:2;
}

.bored {
position:absolute;
border:20px solid white;
width:calc(100vw - 40px);
height:calc(100vh - 40px);
left:0;
top:0;
z-index:10;
}
</style>
</head>

<body>
<div class="bored">
</div>

<div class="cirq">
</div>
</body>
