---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---
<head>
<title>Webcam</title>
<meta http-equiv="refresh" content="60">
</head>
<div class="center-screen">
<div>
<h1>the magical cam of webbia</h1>
<img src="/api/webcam">
</div>
</div>
