<head>
<title>1-bit</title>
<style>
iframe {
position:absolute;
border:none;
left:0;
top:0;
width:100vw;
height:100vh;

filter: grayscale(1) brightness(1.3) contrast(999) ;
mix-blend-mode: multiply;
}
</style>

<meta content="1-bit" property="og:title" />
<meta content="ever wanted to see novassite with only 2 colors?" property="og:description" />

</head>

<iframe src="/"></iframe>
