<form id="b64o">
<textarea name="input" placeholder="text input"></textarea><br>
<input type="submit">
</form>
<br><br>
<form id="b64i">
<textarea name="input" placeholder="base64 input"></textarea><br>
<input type="submit">
</form>

<br><br>

<textarea placeholder="output" id="output"></textarea>