---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---
<head>
<title>base64 coder</title>
<meta content="base64 coder" property="og:title" />
<meta content="encode and decode base64 for free without ads !!" property="og:description" />

<style>
body {
overflow-x:hidden;
}

textarea {
width:90vw;
height:10vw;
}
</style>
</head>
<form id="b64o">
<textarea name="input" placeholder="text"></textarea><br>
<input type="submit" value="encode">
</form>
<br><br>
<form id="b64i">
<textarea name="input" placeholder="base64"></textarea><br>
<input type="submit" value="decode">
</form>

<script>
const form = document.getElementById("b64o");
const morf = document.getElementById("b64i");

const output = document.getElementById("output");

form.addEventListener("submit", async function(event) {
event.preventDefault();
const b64 = btoa(form.input.value);
morf.input.value = b64;
});

morf.addEventListener("submit", async function(event) {
event.preventDefault();
form.input.value = "couldnt decode base64 input";
const b64 = atob(morf.input.value);
form.input.value = b64;
});
</script>
