---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---
<head>
<title>Daily Man (The Game)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="Daily Man (The Game)" property="og:title" />
<meta content="the best RPG Maker game ever made, a delightful time filled with copyright infringement and goofs!" property="og:description" />
<meta content="#d64215" data-react-helmet="true" name="theme-color" />
<meta charset="UTF-8" />
</head>

<div class="center-screen">
<iframe id="game" src="https://dailyman.novassite.net" scrolling="no" style="width:816;height:624;border:none;"></iframe>
</div>
