---
import '/src/styles/colors.css';
---
<head>
<title>SPLODE.</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta content="Button that wont make you explode" property="og:title" />
<meta content="i promise" property="og:description" />
<meta content="#ff0000" data-react-helmet="true" name="theme-color" />

<link rel='stylesheet' href='/styles/dark.css'>
<style is:global>
body {
overflow:hidden;
font-family: Arial, sans-serif;
background:var(--bg);
}
button {
background:var(--red);
color:var(--fg);
font-size:50px;
border:none;
border-radius:.3em;
cursor:pointer;
}

button:active {
background:var(--bright-red);
color:var(--fg1)
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
</style>
</head>
<div class="center-screen">
<button id="explodebutton">DO NOT PUSH</button>
<title>SPLODE.</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta content="Button that wont make you explode" property="og:title" />
<meta content="i promise" property="og:description" />
<meta content="#ff0000" data-react-helmet="true" name="theme-color" />
<script src="/src/scripts/splode.js"></script>
</head>

<div class="center-screen">
<button id="explodebutton">NORMAL BUTTON</button>
</div>
