<form name="guestbook" data-netlify="true">

<label for="artist">Name:</label>
<input type="text" id="name" maxlength="20" name="name" required><br><br>

<label for="artist">Message:</label><br>
<textarea type="text" maxlength="512"  rows="5" cols="50" id="message" name="message" required></textarea><br><br>

<input type="submit" value="Submit">
</form>
