<head>
<style>
body {
background:#fff;
color:#000;
font-family:Georgia;
font-size:3vw;
text-align:center;
}

.invert {
position:absolute;
left:0px;
top:0px;
width:100vw;
height:100vh;
display:block;
animation: blink 2s infinite step-start;

}

@keyframes blink {
50% {backdrop-filter: invert(100%);}
}
</style>
</head>

<div class="invert"></div>

<h1>YOU ARE AN IDIOT!</h1><br>

<img src="/media/smile.webp">
<img src="/media/smile.webp">
<img src="/media/smile.webp">
