---
import '/src/styles/colors.css';
import '/src/styles/misc.css';

const basePath = "./";

const files = Object.keys(import.meta.glob('./*.astro', { eager: true }));

// Convert file paths to valid Astro routes
const routes = files.map(file => {
  return file
    .replace('./', '') // Change base path
    .replace('/index.astro', '/') // Convert index files to folder paths
    .replace('.astro', '') // Remove .astro extension
    .replace('/', ''); // Remove .astro extension
});


---
<head>
<title>misc</title>
<style>
body {
text-align:left;
}
</style>
</head>

<h1>Index of /misc/</h1>
<hr>
<a href="/">../</a><br>
{routes.map(route => (
<a href={"/misc/" + route}>{route}</a><br>
))}
<hr>
