<head>
<title>MakingADotWavSongAtMidnightSoLoudThatThatPontJulesPuntsMeLikeALittleBabyJustKiddingThatDidntHappenSheReallyLikedItTrustMeImNotGettingKickedOutNextMonth.wav</title>
<meta content="MakingADotWavSongAtMidnightSoLoudThatThatPontJulesPuntsMeLikeALittleBabyJustKiddingThatDidntHappenSheReallyLikedItTrustMeImNotGettingKickedOutNextMonth.wav" property="og:title" />
<meta content="MakingADotWavSongAtMidnightSoLoudThatThatPontJulesPuntsMeLikeALittleBabyJustKiddingThatDidntHappenSheReallyLikedItTrustMeImNotGettingKickedOutNextMonth.wav by hp critikal" property="og:description" />
<meta content="#ff0000" data-react-helmet="true" name="theme-color" />
<meta content="/media/embeds/dotwavsoloud.png" property="og:image" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style is:global>
body {
background:url("/media/dotwavsoloud.png");
background-size:10vw 20vh;
color:red;
}

.block {
width:20px;
height:20px;
position:absolute;
display:block;
}
</style>
</head>

<h1>MakingADotWavSongAtMidnightSoLoudThatThatPontJulesPuntsMeLikeALittleBabyJustKiddingThatDidntHappenSheReallyLikedItTrustMeImNotGettingKickedOutNextMonth.wav</h1>
<img src="/media/dotwavsoloud.png">
<br>
<audio src="/media/sfx/dotwavsoloud.ogg" controls id="sog"></audio>
<button id="ply">play</button><button id="plau">plause</button>

<script>
const sog = document.getElementById("sog");

document.getElementById("ply").addEventListener("click", function(event) {
event.preventDefault();
sog.play();
sog.currentTime = 1;

})

document.getElementById("plau").addEventListener("click", function(event) {
event.preventDefault();
sog.pause();
sog.currentTime = 0;
})

if ("mediaSession" in navigator) {
  navigator.mediaSession.metadata = new MediaMetadata({
    title: "MakingADotWavSongAtMidnightSoLoudThatThatPontJulesPuntsMeLikeALittleBabyJustKiddingThatDidntHappenSheReallyLikedItTrustMeImNotGettingKickedOutNextMonth",
    artist: "HPKritical",
    album: "DotWav",
    artwork: [{ src: "/media/dotwavsoloud.png" }],
  });
}

navigator.mediaSession.setActionHandler('nexttrack', () => {
sog.currentTime = 0;
});

navigator.mediaSession.setActionHandler('previoustrack', () => {
document.write("");
});

</script>

<script is:inline>
function color() {
const randomnumber = Math.floor(Math.random() * 16777215);


let hex = randomnumber.toString(16);
hex = hex.padEnd(6, "0");

return "#"+hex
};

  document.addEventListener('contextmenu', function(e) {
    e.preventDefault();
const divs = document.getElementsByClassName("block");
var mouseX = event.clientX+document.body.scrollLeft;
var mouseY = event.clientY+document.body.scrollTop;
    
    const titfart = document.createElement("div");
    titfart.className = "block";
    titfart.style.left = mouseX-5+"px";
    titfart.style.top = mouseY-5+"px";
    titfart.style.background= color()

    document.body.appendChild(titfart);
    if (divs.length > 20) {
    divs[0].remove();
    }
    console.log(divs.length);
    
  }, false);
</script>