---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---

<head>
<title>Stupid Nintendo Games!</title>
</head>

<h1>Stupid Nintendo Games</h1>
<h2>a list of every nintendo game ever*</h2>

<a href="./wiiu">Wii U</a><br>
<a href="./3ds">3ds</a>
