<head>
<title>Nova Viewer</title>
<meta content="Nova Viewer" property="og:title" />
<meta content="Spin her around :3" property="og:description" />

<style>
body {
margin:0;
overflow:hidden;
background:#000;
}
model-viewer {
width:100vw;
height:100vh;
}
</style>
<!--
this model is very VERY compressed

from 29 mb to 587 kb
this is NOT full quality
this is mostly because youre viewing it in a browser you idiot

i commissioned this model for an ammount you dont get to know idiot
made by the amazing tom
https://www.instagram.com/tom_the_wolff2/

this message stays as a comment until her commissions go back up to not like
flood her with requests
anyways
yea :D
-->
</head>
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>

<model-viewer src="/nova.glb" poster="/novamodelposter.webp" shadow-intensity="1" camera-controls touch-action="pan-y"></model-viewer>
