<head>
<title>only monika</title>
<meta content="A little bit of..." property="og:title" />
<meta content="no TV and no beer make homer something something...." property="og:description" />

<style is:global>
body {
overflow:hidden;
width:100vw;
height:100vh;
user-select:none;
background:#000;
color:#c2c2c2;
}

#bg {
display:block;
position:absolute;
left:0px;
top:0px;
width:100vw;
height:100vh;
text-align:center;
vertical-align:center;
line-height: 100vh;
font-size:10vw;
font-family: Verdana, sans-serif;
font-weight:bold;
}

b {
color:#ff0000;
}
</style>
</head>

<body>
<div id="bg">A little bit of</div>
</body>

<script>
const textarr = [
"A little bit of",
"<b>MONICA</b>",
"in my life" , 

"A little bit of",
"<b>ERICA</b>",
"by my side",

"A little bit of",
"<b>RITA</b>",
"is all i need",

"A little bit of",
"<b>TINA</b>",
"is all i see",

"A little bit of",
"<b>SANDRA</b>",
"in the sun",

"A little bit of",
"<b>MARY</b>",
"all night long",
  
"A little bit of",
"<b>JESSICA</b>",
"here i am",
];
let counter = 0;


async function textloop() {
for (;;) {
if(counter >= textarr.length-1) {
counter = 0;
} else {
counter++;
}

await new Promise(r => setTimeout(r, 1000));
document.getElementById("bg").innerHTML = textarr[counter];
}
};

textloop();
</script>
