<head>
<title>rancom color</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="Random Color" property="og:title" />
<meta content="its truly impossible how many colors i have here" property="og:description" />

<style is:global>
body {
overflow:hidden;
}

.center-screen {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
min-height: 100vh;
}

button {
font-size:3vw;
border:none;
background:white;
padding:5px;
border-radius:0.2em;
background:none;
backdrop-filter:hue-rotate(180deg) invert();
cursor:pointer;
text-filter:invert();
color:transparent;
}

::SELECTION {
color:white;
background-color:black;
}
</style>
</head>

<body>party rock is in the house toniiight</body>

<script>
function color() {
const randomnumber = Math.floor(Math.random() * 16777215);


let hex = randomnumber.toString(16);
hex = hex.padEnd(6, "0");

document.body.style.backgroundColor = "#" + hex;

document.title='#'+hex;
};

document.addEventListener("DOMContentLoaded", async function() {
color();
document.body.innerHTML="";

const center= document.createElement("div");
center.className = "center-screen";

const newcolor = document.createElement("button");
newcolor.innerHTML = "New Color"

document.body.appendChild(center);
await new Promise(r => setTimeout(r, 2000));
center.appendChild(newcolor);


newcolor.addEventListener("click", async function(event) {
event.preventDefault();
color();
newcolor.style.display="none";
await new Promise(r => setTimeout(r, 1000));
newcolor.style = "";
});

});



</script>