<head>
<title>Random Site</title>
</head>
<h1>Random Independent Website</h1>
<p>are you tired of searching through social media sites for some garbage to stuff your face with?<br>well you can just click this convenient little button for some inspiration/fun!<br><b>NOTE:</b> sites are manually added but not fully reviewed, i do not endorse anything in these sites</p>
<button id="randomsite">take me to a random site</button>

<script src="/src/scripts/randomsite.js" />
