---
import '/src/styles/colors.css';
---
<head>
<title>Random Site</title>
<style>
body {
background:var(--bg);
color:var(--fg);
text-align:center;
font-family: 'Brush Script MT', cursive;
}
</style>
</head>
<h1>Random Independent Website</h1>
<p>are you tired of searching through social media sites for some garbage to stuff your face with?<br>well you can just click this convenient little button for some inspiration/fun!<br><b>NOTE:</b> sites are manually added but not fully reviewed, i do not endorse anything in these sites</p>
<button id="randomsite">take me to a random site</button>

<script src="/src/scripts/randomsite.js" />
