<head>
<title>i am placing blocks and shit</title>
<style is:global>
body {
background:#000;
color:#fff;
overflow:hidden;
}
.block {
position:absolute;
display:block;
}
</style>
</head>
<body>
i am placing blocks and shit cause im in fucking minecraft
</body>
<script>
let clicked = false;

function color() {
const randomnumber = Math.floor(Math.random() * 16777215);


let hex = randomnumber.toString(16);
hex = hex.padEnd(6, "0");

return "#"+hex
};

document.addEventListener("mouseup", (e) => {
   switch (e.button) {
         case 0:

if (clicked == false) {
document.body.innerHTML = "";
clicked = true;
}

const divs = document.getElementsByClassName("block");
var mouseX = event.clientX+document.documentElement.scrollLeft;
var mouseY = event.clientY+document.documentElement.scrollTop;
const sizeX = Math.ceil(Math.random()* (80 - 15) + 15);
const sizeY = Math.ceil(Math.random()* (80 - 15) + 15);

    const titfart = document.createElement("div");
    titfart.className = "block";
    titfart.style.left = mouseX-(Math.round(sizeX/2))+"px";
    titfart.style.top = mouseY-(Math.round(sizeY/2))+"px";
    titfart.style.width = sizeX+"px";
    titfart.style.height = sizeY+"px";
    titfart.style.background= color()

    document.body.appendChild(titfart);
    if (divs.length > 1000) {
    divs[0].remove();
    }
    console.log(divs.length);

         break;
   }
});

document.addEventListener("DOMContentLoaded", async function() {
document.body.innerHTML = "click the screen to create a cube";
});
</script>
