---
import '/src/styles/colors.css';
import '/src/styles/misc.css';
---
<head>
<title>Uptime</title>
</head>
<div class="center-screen">
<h1>
Server: <span id="server"></span><br>
Process: <span id="process"></span>
</h1>
</div>
<script>

document.addEventListener("DOMContentLoaded", async function() {

function countdown(timestamp,element) {
// Set the date we're counting down to
  let distance = timestamp;

// Update the count down every 1 second
var x = setInterval(function() {

  // Find the distance between now and the count down date

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById(element).innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  distance = distance+1000;
},1000);
};
// thank you https://www.w3schools.com/howto/howto_js_countdown.asp
// i will rob you till i die


async function grab() {
let servertime = 0;
let processtime = 0;

try {
const response = await fetch('/api/uptime');
if (!response.ok) throw new Error('Failed to fetch');
const data = await response.json();

servertime = data.server;
processtime = data.process;
} catch (err) {
console.warn(err);
}

countdown(servertime, "server");
countdown(processtime, "process");
}

await grab();
});
</script>
