<!--
     _                                                     _                 _     _ _  __
    (_)                                                   | |               | |   | (_)/ _|
 ___ _ _ __   __ _    __ _   ___  ___  _ __   __ _    __ _| |__   ___  _   _| |_  | |_| |_ ___
/ __| | '_ \ / _` |  / _` | / __|/ _ \| '_ \ / _` |  / _` | '_ \ / _ \| | | | __| | | |  _/ _ \
\__ \ | | | | (_| | | (_| | \__ \ (_) | | | | (_| | | (_| | |_) | (_) | |_| | |_  | | | ||  __/
|___/_|_| |_|\__, |  \__,_| |___/\___/|_| |_|\__, |  \__,_|_.__/ \___/ \__,_|\__| |_|_|_| \___|
              __/ |                           __/ |
             |___/                           |___/
     _                                                     _                 _     _ _  __
    (_)                                                   | |               | |   | (_)/ _|
 ___ _ _ __   __ _    __ _   ___  ___  _ __   __ _    __ _| |__   ___  _   _| |_  | |_| |_ ___
/ __| | '_ \ / _` |  / _` | / __|/ _ \| '_ \ / _` |  / _` | '_ \ / _ \| | | | __| | | |  _/ _ \
\__ \ | | | | (_| | | (_| | \__ \ (_) | | | | (_| | | (_| | |_) | (_) | |_| | |_  | | | ||  __/
|___/_|_| |_|\__, |  \__,_| |___/\___/|_| |_|\__, |  \__,_|_.__/ \___/ \__,_|\__| |_|_|_| \___|
              __/ |                           __/ |
             |___/                           |___/
     _                                                     _                 _     _ _  __
    (_)                                                   | |               | |   | (_)/ _|
 ___ _ _ __   __ _    __ _   ___  ___  _ __   __ _    __ _| |__   ___  _   _| |_  | |_| |_ ___
/ __| | '_ \ / _` |  / _` | / __|/ _ \| '_ \ / _` |  / _` | '_ \ / _ \| | | | __| | | |  _/ _ \
\__ \ | | | | (_| | | (_| | \__ \ (_) | | | | (_| | | (_| | |_) | (_) | |_| | |_  | | | ||  __/
|___/_|_| |_|\__, |  \__,_| |___/\___/|_| |_|\__, |  \__,_|_.__/ \___/ \__,_|\__| |_|_|_| \___|
              __/ |                           __/ |
             |___/                           |___/
     _                                                     _                 _     _ _  __
    (_)                                                   | |               | |   | (_)/ _|
 ___ _ _ __   __ _    __ _   ___  ___  _ __   __ _    __ _| |__   ___  _   _| |_  | |_| |_ ___
/ __| | '_ \ / _` |  / _` | / __|/ _ \| '_ \ / _` |  / _` | '_ \ / _ \| | | | __| | | |  _/ _ \
\__ \ | | | | (_| | | (_| | \__ \ (_) | | | | (_| | | (_| | |_) | (_) | |_| | |_  | | | ||  __/
|___/_|_| |_|\__, |  \__,_| |___/\___/|_| |_|\__, |  \__,_|_.__/ \___/ \__,_|\__| |_|_|_| \___|
              __/ |                           __/ |
             |___/                           |___/
-->
<head>
<title>autism</title>
<link rel="icon" href="/media/vyletwiki/vyletism.png">

<!--Embed-->
<meta content="Vylet Pony" property="og:title" />
<meta content="Vylwt pony wiki (swag and great)" property="og:description" />
<meta content="/media/embeds/vyletism.png" property="og:image" />
<meta content="#ff00ff" data-react-helmet="true" name="theme-color" />

<style>
img {
    max-width:500px;
}

body {
    word-wrap: break-word;
    white-space: pre-line;
    display: inline-block;
    text-align:center;
    background-image:url(/media/vyletwiki/inarush.jpg);
    background-size: 100% 500px;
    color:purple;

}

</style>
</head>

<h1>hello and welcomb tu the vilert pony wuaitim wiki!!!</h1>
<h2>this wiki will consist of autism mandyt my autism i love vylet so much i love autism...</h2>
<h3>legal disclaimer this is not me being parasocial this is all haha funny super funny autism funny, vylet is a human being just like you or me with thoughts feelings and opinions this is just for shits and giggles</h3>

<img src="/media/vyletwiki/singasong.gif"><img src="/media/vyletwiki/real.gif"><a href="https://www.tumblr.com/punkitt-is-here" ><img src="/media/vyletwiki/3119664.jpg"></a><img src="/media/vyletwiki/slaytbh.gif"><img src="/media/vyletwiki/YEAH.gif"><img src="/media/vyletwiki/ANIME.gif">

hello everypony today we will be autism for pony vylet i love ponies i am a pony irl heres evidence
<img src="/media/vyletwiki/girl wizard.png">
me on that wizard shit

so guys i love vylet pony uhm i listened to every one of hers ong s on spotify

<img src="/media/vyletwiki/autism.png">
just a small peep into my autistic fucked up mind
image is too big because im too autistic for you to handle
<img src="/media/vyletwiki/nover.png">
novas reaction to this is crazy (because im too autistic)
did you know i have every vylet song downloaded?
proof?
fuck you.
you dont ghet my files i dont trust you.

i dont like you.
i do like vylet though her music is p swag did you know that
you should so listen to it
i have a playlist

<div style="width:50%;margin:auto;">
<iframe style="border-radius:12px;margin:auto;" src="https://open.spotify.com/embed/playlist/7LuidEtzKb7pNNy6e3DP2U?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

im so vylet pilled

and YOU arent.
i am morew vylety piuleed than you i take my medication daily fuck you

i actually know vylet irl fun fact
totally
dont ask her
or anyone she knows
please
dont do anything that would disprove my point thats very rude actually

actually there is someone you can ask
president teddy roosevelt

file photo:
<img src="/media/vyletwiki/pressi.png">

im a pony itl heres ecvidence
<img src="/media/vyletwiki/girl wizard.png">
im a pony thats me
ponygirl im a poyn

<img src="/media/vyletwiki/vyletism.png">
me when vylety pony
i love ybvly....

we even have testimonails about vlyet!!
<b>uhm vbylet is the best best most awesomest most 100% most cool music artist ive ever heard in my life and and shes the best pony ever becaus i said so<b>

and the wiki!!
<b>10/10 awesom awesome site i found everything i needed and im super inmformed about the vylet lore super accurate site</b>

<img src="/media/vyletwiki/slayestia.jpg">
<b>hello im celestia i love this site and vlyeyt hi im celestia - celestia -202celectia</b>

VOTE FOR CELESTIA IN THE NEXTR ELECTION

<img src="/media/vyletwiki/propaganda.png">

<span style="color:red"> hello i am EVIL alice and i say vote for top 5 hello heres my propaganda
also my letter p key broke while i was making the propaganda sorry</span>

<iframe width="560" height="315" src="https://www.youtube.com/embed/AFyuxz4dCd0?si=0kBzDmhBTuBU71lM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
top
top 54

<img src="/media/vyletwiki/Screenshot_20240728_004205.png">

pylet vony fact s:
vylet was born in albania in 1354

<div style="background-color:white;color:black;width:100%">another fun fact !!:
vylet aka "Zelda Trixie Lulamoon" was originally born in the bay area of california.
however she now lives in oregon.

vylet pony is an electronic/multigenre musician who is well known for having an overarching story between her songs
in fact having a list of "cannon" and "noncannon" songs.
<a href="https://docs.google.com/spreadsheets/d/1_uyBhqGtYBu_DqkQSkhIdR7TlmnTRw_u29zzmH-PqNk/edit?usp=sharing">which you can find here</a>
vylet is also known for being fairly upfront with her audience
often talking about the life stories behind her songs.</div>

vuylert poyn is so cool...

i love pyon.y....

i love bvylety pony music ,miscor pony pony music musci pyony

<img src="/media/vyletwiki/horse.jpg">

i have more testimonials from the testimonial store and this is them hi hello
"aiaim i like vypet lony and her musci makes me smiley" - millimeter

"uuhh uuh vylet pony 🐎 is yhe uuuh most awesome pony every madei. love its. music its sooo nice sea makes me cry very time on tge daily pn the reg  thabk you vylet pony for ingenting music and making me feel every emotion ever" - alice (the other one not me one)
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/DMVrqTV8YGc?si=NCYXCe9-FEqoFIWK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
hell o
guys
im here to explain the creekflow lore
<img src="/media/vyletwiki/kflowtransp.png">
drawn by <a href="/discord/user/#852018491900821514">jules</a>

creekflow lore:
thwe creek tlfows
rkreeek flowWW!!!
who up creeking they flow rn
CREEKFLOOWWWOWOWOW!!

funfa ct: i dont know any of the creekflow lore
i dont know hsit
im confused
<hr>
<img src="/media/vyletwiki/Screenshot_20240912_192841.png">
jesis

fun fact:
vylet pony ip address is
<script>
document.getElementById("randomip").innerHTML = Math.floor(Math.random() * 256) + "." + Math.floor(Math.random() * 256) + "." + Math.floor(Math.random() * 256) + "." + Math.floor(Math.random() * 256);

</script>

<span id="randomip"></span>

(legal disclaimer thats a randomly generated number i dont know vylets ip)
(another legal disclaimer theres a 1 in 4,228,250,625 chance itl be right)
(idk if my math is right there dont quote me on that)

funf act :
im kind of starting to understand the lore
barely
i understand the significance of the love letters a little more than before
barely
im slow give me a break
<hr>
hello everypony its me aliceflow
<img src="/media/vyletwiki/Aliceflow.png">
(commissioned for a nickel from <a href="/discord/user/#852018491900821514">jules</a>)
my name is alice and im here to say
i really like vylet pony in a normal way
my rhymes are cool
and so are yule
uh
yeah rapping
anyways creekflow has been made cannon as of september 21st/22nd depending on timezones
truly a magnificent day for all pony kind.
with songs like
im creekflow
im creekflow
im creekflow
im creek[flow] (the flow is hinted at in this line)
pONY
<marquee>im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow im creekflow </marquee>
creekflow cds should be happening thats pretty ponyrific i love cds fuck YEAHHHHH
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CREEKFLOWWWW
IM CREEK FLOW   !!!
<hr>
everyday it grows
i need more pony...
i need to be sillier....
<hr>
<img src="/media/vyletwiki/Screenshot_20241025_163538.png">
vylet officially loves my wonderland
the one i made yes
my wonderland
alice wondersand
i eat sand
wondersand
<img src="/media/vyletwiki/sand.png">
thats me
<hr>
hello ponies
i have found a competition...
<a href="https://vylet.wiki">vylet.wiki</a>
dont tell evil alice she will be mad
but i (good alice) encourage competition for thats how you thrive the economy
<hr>
top five 
alices.

1. me (good)
2. uhhhh
3............
4....................... uh.
5. evil alice (bad)

okay in all seriousness monarch fucked me up hard man.
its really good but my god.
<hr>
<img src="/media/vyletwiki/imadeaseverandcontinouslapseinmyjudgement.png">
im sorry ponies...
i ruined the iwkie......
im sor.y.......

also for information baout me being on a different line please consult <a href="https://vylet.wiki">violet.wiki</a>

what will you do when the bees attack...
also im sick today i hope our lord and savior top fiv e vids can save me
<hr>
helo everypoy today,,,
i tried to edit the "real" vylet wiki...
but
I COULDNT !!!11
ITS BLOCKED!!11!
THIS IS VERY SAD!!!
<b style="color:red">CRY.</b>
<hr>
ive creeked so many fuckign flows i will kill someone

vylet peone will die granuarby 35th 3093
(image from the future)
<img src="/media/vyletwiki/grave.jpg">
<img src="/media/vyletwiki/grave.jpg">

and filpotnrdf
<img src="/media/vyletwiki/marioford.png">
<hr>
byet pyony y forrr ///....
9/11
