---
import '../styles/main.css';

var now = new Date();
var yyyy = now.getFullYear();

const copyright = `NovasSite &copy;2021 - ${yyyy+1}`; //why
---
<!--
_   _                        _____ _ _                      _
| \ | |                      / ____(_) |                    | |
|  \| | _____   ____ _ ___  | (___  _| |_ ___     _ __   ___| |_
| . ` |/ _ \ \ / / _` / __|  \___ \| | __/ _ \   | '_ \ / _ \ __|
| |\  | (_) \ V / (_| \__ \  ____) | | ||  __/  _| | | |  __/ |_
|_| \_|\___/ \_/ \__,_|___/ |_____/|_|\__\___| (_)_| |_|\___|\__|

novassite.net
"one of the sites on the internet!!11"
cannot ensure silliness with every visit.
-->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="favicon.ico">
		<meta name="generator" content={Astro.generator} />

		<meta content="Novas Site" property="og:title" />
		<meta content={copyright} property="og:description" />
		<meta content="/media/embeds/main.png" property="og:image" />
		<meta content="#6b0059" data-react-helmet="true" name="theme-color" />

        <link rel='stylesheet' href='/styles/dark.css'>
		<title>Novas Site</title>
	</head>
	<body>
		<slot />
	</body>
</html>
